/* Added formating for body */

  body {
    padding: 20px;
    display: inline;
    font-family: 'Arvo', serif;
    background-image: url("https://images.squarespace-cdn.com/content/v1/595db0b044024313332d1ef8/1556474281600-4IJ603AMV0F01P2PLV6Y/ke17ZwdGBToddI8pDm48kNiEM88mrzHRsd1mQ3bxVct7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0s0XaMNjCqAzRibjnE_wBlkZ2axuMlPfqFLWy-3Tjp4nKScCHg1XF4aLsQJlo6oYbA/White+Marble2.jpg?format=2500w");
    background-repeat: repeat;
  }
  
  
  
  
  
  /* Style inputs  */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 20px solid #0e7181;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #0e7181;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0e7181;
  }
  
  
  
  /* Used css to make contact us boxes centered */
  .column {
    float: left;
    width: 55%;
    
  
  
  /* Responsive layout for mobile devices */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }